<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>

<body>
<div class="container">
    <div class="nav">
        <span><a href="/home">Home</a></span>
        <span><a th:href="'/pets/'+ ${user.id}">Pets</a></span>
        <span><a th:href="'/net/'+ ${user.id}">Your NetWork</a></span>
        <span><a href="/find">Users in your area</a></span>
        <span><a th:href="'/user/'+ ${user.id}"  th:text="${user.username}"></a></span>
        <form action="/logout" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="submit" value="logout"/>
        </form>
    </div>
    <h1>Friends in your zip code!</h1>
    <h3 th:text="${noFriendsFound}"></h3>
    <div th:each="friendUser : ${friendUsers}">
        <span th:text="${friendUser.username}"></span>
    </div>
    <h1>Other users in your zip code!</h1>
    <div th:each="localUser : ${localUsers}">
        <span th:text="${localUser.username}"></span>
        <form action="/find/addFriend" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input name="newFriendName" type="hidden" th:value="${localUser.username}" />
            <input type="submit" value="Add to Network" />
        </form>
    </div>
</div>
</body>
</html>