<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="nav">
        <span><a href="/home">Home</a></span>
        <span><a th:href="'/pets/'+ ${user.id}">Pets</a></span>
        <span><a th:href="'/net/'+ ${user.id}">Your NetWork</a></span>
        <span><a href="/find">Users in your area</a></span>
        <span><a th:href="'/user/'+ ${user.id}"  th:text="${user.username}"></a></span>
        <form action="/logout" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="submit" value="logout"/>
        </form>
    </div>
<div class="lost">
    <a href="/lost">lost</a>
    <br/>
    <a href="/found">found</a>
</div>


</div>
</body>
</html>