<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="/assets/css/homes.css" type="text/css"/>
</head>
<body>
<div class="container">
    <div class="nav">
        <span><a href="/home">Home</a></span>
        <span><a th:href="'/pets/'+ ${user.id}">Pets</a></span>
        <span><a th:href="'/net/'+ ${user.id}">Your NetWork</a></span>
        <span><a href="/find">Users in your area</a></span>
        <span><a th:href="'/user/'+ ${user.id}"  th:text="${user.username}"></a></span>
        <form action="/logout" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="submit" value="logout"/>
        </form>
    </div>
<div class="lost">
    <form action="/lost" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="hidden" name="userphone" th:value="${user.phone}" />
        <input type="submit" value="lost" />
    </form>
    <br/>
    <!--<form action="/found" method="post">-->
        <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
        <!--<input type="hidden" name="userphone" th:value="${user.phone}" />-->
        <!--<input type="submit" value="found" />-->
    <!--</form>-->
</div>


</div>
</body>
</html>