<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="container">
    <div>
        <h2>
            log into your account
        </h2>
    </div>
    <div style="color:#828dff;">
        <p th:text="${errors}"></p>
    </div>

    <div>
        <form action="/login" method="post" th:object="${user}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <label th:for="*{email}">email</label>
            <input type="text" th:field="*{email}" />
            <br/>
            <label th:for="*{password}">Password</label>
            <input type="password" th:field="*{password}" />
            <br/>
            <input type="submit" name="login" value="login"/>
        </form>
    </div>
    <div>
        <h4>
            dont have an account?
            <a href="/signup">sign up!</a>
        </h4>
    </div>
</div>
</body>
</html>