<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="nav">
        <span><a href="/home">Home</a></span>
        <span><a th:href="'/pets/'+ ${user.id}">Pets</a></span>
        <span><a  th:href="'/net/'+ ${user.id}">Your NetWork</a></span>
        <span><a href="/find">Users in your area</a></span>
        <span><a th:href="'/user/'+ ${user.id}"  th:text="${user.username}"></a></span>
        <form action="/logout" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="submit" value="logout"/>
        </form>
    </div>
    <h1>Friends</h1>
    <form action="/net/addFriend" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input name="newFriendName" type="text" value="" />
        <input type="submit" value="Send Request" />
    </form>
    <div>
        <ul th:each="friend : ${confirmed}">
            <li><a th:href="'/user/' + ${friend.id}" th:text="${friend.username}"></a></li>
        </ul>
    </div>
    <h1>Requests</h1>
    <ul th:each="pendingFriend : ${pending}">
        <li><a th:href="'/user/' + ${pendingFriend.id}" th:text="${pendingFriend.username}"></a></li>
        <form action="/net/accept" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="hidden" name="friendId" th:value="${pendingFriend.id}" />
            <input type="submit" value="Accept" />
        </form>
        <form action="/net/ignore" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="hidden" name="friendId" th:value="${pendingFriend.id}" />
            <input type="submit" value="Ignore" />
        </form>
    </ul>
</div>
</body>
</html>